
/*IPHONE-----------------------------------------------------------------------------------------------*/

@include iphone {

  /* ----------NOSOTROS -----*/
  .nosotros-image{
    text-align: center;
  }
  .nosotros-text{
    height: auto;
    overflow: auto;
  }


  /*PROYECTIOS*/
  .project-cover-info{
    bottom: -10px;
  }

  .project-name{
    font-size: 1.1rem;
    line-height: .3rem;
  }
  .project-description{
    font-size: .8rem;
  }


  .info-contact{
    line-height: 1rem !important;
  }



  /*procesos*/

  .new-proceso{
    min-height: 80px;
  }

  .procesos-img-thumb{
    width: 60px;
  }

  .proceso-title-comp{
    /*@include absolute-center();*/

    right: 20px;
  }

  .proceso-name {
    font-size: .7rem !important;
    padding-right: 10px !important;
    vertical-align: baseline !important;
  }



  /*proyectos*/

  .size-1-4{
    font-size: 1.2rem;
  }
  .size-1-2{
    font-size: .9rem;
  }
  .size-0-9{
    font-size: .8rem;
  }

}

/*MINI TABLET-----------------------------------------------------------------------------------------------*/
@include minitablet {

  /* ----------NOSOTROS -----*/
  .nosotros-text p{
    padding-right: 10px;
  }
  .nosotros-text{
    height: 350px;
  }



  /*procesos*/

  .new-proceso{
    min-height: 80px;
  }

  .procesos-img-thumb{
    width: 60px;
  }

  .proceso-title-comp{
    /*@include absolute-center();*/

    right: 20px;
  }

  .proceso-name {
    font-size: .7rem !important;
    padding-right: 10px !important;
    vertical-align: baseline !important;
  }

}


/*TABLET-----------------------------------------------------------------------------------------------*/
@include tablet {

  /* ----------NOSOTROS -----*/
  .nosotros-text p{
    padding-right: 30px;
  }


}


/*DESKTOP-----------------------------------------------------------------------------------------------*/
@include desktop {

  /* ----------NOSOTROS -----*/
  .nosotros-text p{
    padding-right: 130px;
  }

}



